<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Spring boot + WebSocket + 广播模式</title>
</head>
<body onload="disconnect()">
<noscript><h2 style="color:#ff0000">你的浏览器不支持websocket</h2> </noscript>
<div>
    <div>
        <button id="connect" onclick="connect();">链接</button>
        <button id="disconnect" onclick="disconnect();" disabled="disabled">断开链接</button>
    </div>
    <div id="conversationDiv">
        <label>输入你的名字</label><input type="text" id="name"/>
        <button id="sendName" onclick="sendName();">发送</button>
        <p id="response"></p>
    </div>
</div>
<script src="http://cdn.bootcss.com/sockjs-client/1.1.1/sockjs.min.js"></script>
<script src="http://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
<script src="http://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script type="text/javascript">
    var stompClient=null;
    
    function setConnected(connected) {
        document.getElementById("connect").disabled=connected;
        document.getElementById("disconnect").disabled=!connected;
        document.getElementById("conversationDiv").style.visibility=connected?"visible":"hidden";
        $("#response").html();
    }
    
    function connect() {
        var socket=new SockJS("/endpointCc");
        stompClient=Stomp.over(socket);
        stompClient.connect({},function (frame) {
            setConnected(true);
            console.log("Connected:"+frame);
            stompClient.subscribe('/topic/getResponse',function (response) {
                showResponse(JSON.parse(response.body).responseMessage);
            });
        });
    }
    
    function disconnect() {
        if (stompClient){
            stompClient.disconnect();
        }

        setConnected(false);

        console.log("Disconnected");
    }

    function sendName() {
        var  name = $('#name').val();
        stompClient.send("/welcome",{},JSON.stringify({ "name":name}));
    }
    
    function showResponse(message) {
        var response=$('#response');
        response.html(message);
    }
</script>
</body>
</html>